<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %> - <%= metadata[:site]['title'] %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1><a href="/">Félix Saparelli</a></h1>
      <p class="subtitle">a.k.a. passcod</p>
    </header>
    <div class="container">
      <article>
        <header>
          <h1>Curious Demigod</h1>
          <p>By <a rel="author" href="/author/passcod">passcod</a></p>
          <p>Posted on <a href="<%= url[:relative] %>"><date datetime="<%= date.rfc3339 %>"><%= date.strftime '%b %-d' %></date></a></p>
          <p>This <a rel="main tag" href="/tag/musing">musing</a> is also tagged as <a rel="tag" href="/tag/foobar">foobar</a> and <a rel="tag" href="/tag/auto-thief">auto-thief</a></p>
          <p>It has two <abbr title="Parent posts are posts that inspired, led to, or are obsoleted by this one.">parents</abbr>: <a rel="up" href="/2013/sep/13/parenting">Parenting</a> and <a rel="up" href="/2013/oct/25/new-blog-new-format">New Blog, New Format</a></p>
        </header>
        <%= content %>
        <footer>
          <p>Travel back to the <a rel="prev" href="/prev">previous</a> article</p>
          <p>Skip forward to the <a rel="next" href="/next">next</a> one</p>
          <p>Praise, thoughts, criticism? <a href="https://twitter.com/passcod">@passcod</a> or <a href="mailto:ask@passcod.name">ask@passcod.name</a></p>
          <p>This post has one <abbr title="Child posts are posts that were inspired, are updates on, obsolete, or follow this one.">child</abbr>: <a rel="down" href="/2013/dec/04/plane-trees">Plane Trees</a></p>
        </footer>
      </article>
    </div>
    <footer>
      <button class="flip" title="Click to turn lights on xor off">day</button>
      <p>Dedicated to the <a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">Public Domain</a></p>
    </footer>
    <script>
      var flip = document.querySelector('.flip'),
        html = document.querySelector('html'),
        flipper = function() {
          if (/flipped/.test(html.className)) {
            html.className = html.className.replace('flipped', '');
            flip.innerHTML = 'day';
          } else {
            html.className += ' flipped';
            flip.innerHTML = 'night';
          }
        };
      flip.addEventListener('click', flipper, null);
    </script>
  </body>
</html>
